.container {
  width: 100%;
}

.Navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.MainMenuCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.prof_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.prof_file {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

.prof_text {
  margin: 0;
  padding: 0;
}

.quiz_container {
  width: 100%;
  padding: 10px;
}
